[project]
	description = Source code for CA07.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/msc0030
[access "refs/for/refs/*"]
	read = group user/msc0030
	push = group user/msc0030
	label-Code-Review = -2..+2 group user/msc0030
	label-Verified = -1..+1 group user/msc0030
	rebase = group user/msc0030
	removeReviewer = group user/msc0030
	submit = group user/msc0030
[access "refs/heads/*"]
	read = group user/msc0030
	create = group user/msc0030
	push = +force group user/msc0030
	pushMerge = group user/msc0030
[access "refs/tags/*"]
	push = +force group user/msc0030
	pushTag = group user/msc0030
	pushSignedTag = group user/msc0030
